<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Está Perdido?</title>
<style>
    body { 
    background-color: #f3d353; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    padding: 5px;
    margin: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 43%;
}

h1, h2 {
        font-size: 2rem;
}

a { 
        color: black; 
        font-weight: bold;
}
</style>
</head>
<body>

    <section>
        <h1>Xiiiiii, acho que você está perdido!</h1>
        <p>É bem provável que você precise de ajuda para voltar, tente o link abaixo.</p>
        <p><a href="/">Voltar</a></p>    
    </section>

    </body>
</html>