<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor Express</title>
</head>
<body>
    <h1>Bem vindo ao Servidor ExpressJS</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut rem odio dolore est, error, pariatur laboriosam reiciendis repellendus autem rerum consectetur consequatur similique eligendi excepturi asperiores, voluptatum neque ea velit. Itaque optio explicabo quos doloribus magni? Nulla excepturi perspiciatis quibusdam quisquam, omnis, reprehenderit beatae repellat nam corporis doloribus deserunt vitae?</p>

    <p><a href="/">Inicial</a> | <a href="/sobre">Sobre</a> | <a href="/contato">Contato</a></p>
</body>
</html>