<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página sobre</title>
</head>
<body>
    <h1>Página Sobre</h1>
    <hr>
    <details>
        <summary>
            Algo interessante pode estar escondido abaixo do seus olhos, Descubra.
        </summary>
        <p>Para de ser curioso(a) e volta logo pro código.</p>
    </details>

    <p><a href="/">Inicial</a> | <a href="/sobre">Sobre</a> | <a href="/contato">Contato</a></p>
</body>
</html>